.container {
  width: 960px;
  margin: 0 auto;
  @media (max-width: 320px) {
    width: 310px;
  }
}

.logoBox {
  margin: 50px auto;
  width: 80px;
  height: 80px;
  background-image: url(../../img/Logo.svg);
  @media (max-width: 320px) {
    display: none;
  }
}

.main {
  display: flex;
  gap: 20px;
  justify-content: center;
  @media (max-width: 320px) {
    flex-direction: column;
  }
}

.cardlist {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media (max-width: 320px) {
    gap: 5px;
  }
}
